.server
Dockerfile
/metadata.json
/listing.json
.vscode/
*.db
*.db-journal
!**/test-fixtures/**/*.db
*.tar
*tar.gz
.idea/
*.log
.images
.tmp/
coverage.txt

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
