# local development tailoring
go.work
go.work.sum
.tool-versions

# app configuration
/.grype.yaml

# tool and bin directories
.tmp/
bin/
/bin
/.bin
/build
/dist
/snapshot
/.tool
/.task

# changelog generation
/CHANGELOG.md
/VERSION

# IDE configuration
.vscode/
.idea/
.server/
.history/

# test related
*.fingerprint
/test/results
coverage.txt
*.log
.server

# grype-db related
/metadata.json
/listing.json
*.db
*.db-journal
!**/test-fixtures/**/*.db

# probable archives
.images
*.tar
*.jar
*.war
*.ear
*.jpi
*.hpi
*.zip
*.iml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# OS files
.DS_Store

*.profile

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/grype/grype
main

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
