version: "3.8"
services:
  docker:
    image: docker:dind
    privileged: true
    environment:
      DOCKER_TLS_CERTDIR: /certs
    networks:
      - docker
    volumes:
      - docker-certs-ca:/certs
      - docker-certs-client:/certs/client
  grype:
    build:
      context: .
      dockerfile: local_dev.Dockerfile
    volumes:
      - .:/grype
      - docker-certs-client:/certs/client:ro
    stdin_open: true
    restart: always
    environment:
      DOCKER_TLS_CERTDIR: /certs
    networks:
      - docker
    depends_on:
      - docker

volumes:
  docker-certs-ca:
  docker-certs-client:

networks:
  docker:
