---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: grype-operator
  namespace: grype-operator-system

---
# If you have other namespaces, create ServiceAccount there too
# Uncomment and modify as needed:
#
# apiVersion: v1
# kind: ServiceAccount
# metadata:
#   name: grype-scanner
#   namespace: production
# ---
# apiVersion: v1
# kind: ServiceAccount
# metadata:
#   name: grype-scanner
#   namespace: staging  