Identified distro as {{.Distro.Name}} version {{.Distro.Version}}.
{{- range .Matches}}

    Vulnerability: {{.Vulnerability.ID}}
    Severity: {{.Vulnerability.Severity}}
    Matched by: {{.MatchDetails.Matcher}}
    Package: {{.Artifact.Name}} version {{.Artifact.Version}} ({{.Artifact.Type}})
{{- end}}

