<?xml version="1.0" encoding="UTF-8"?>
<testsuites name="grype-vulnerability-scan">
    <testsuite name="grype-vulnerability-scan" tests="{{ len .Matches }}" failures="{{ len .Matches }}" errors="0" skipped="0">
        {{- range .Matches }}
        <testcase classname="{{ .Artifact.Name | xml }}" name="{{ .Vulnerability.ID | xml }} ({{ .Vulnerability.Severity | xml }})" time="0">
            <failure message="{{ .Vulnerability.ID | xml }}: Vulnerability discovered in package {{ .Artifact.Name | xml }}" type="{{ .Vulnerability.Severity | xml }}">
Package: {{ .Artifact.Name | xml }}
Version: {{ .Artifact.Version | xml }}
Type: {{ .Artifact.Type | xml }}
Vulnerability: {{ .Vulnerability.ID | xml }}
Severity: {{ .Vulnerability.Severity | xml }}
Link: {{ .Vulnerability.DataSource | xml }}
Fix Version: {{ if .Vulnerability.Fix.Versions }}{{ join ", " .Vulnerability.Fix.Versions }}{{ else }}None{{ end }}

Description:
{{ .Vulnerability.Description | xml }}
            </failure>
        </testcase>
        {{- end }}
    </testsuite>
</testsuites>
