{{- define "line"}}
  {{.Artifact.Name}}
  ,{{.Artifact.Version}}
  ,{{.Vulnerability.Fix.Versions | join " "}}
  ,{{.Artifact.Type}}
  ,{{.Vulnerability.ID}}
  ,{{.Vulnerability.Severity}}
  ,{{range .Artifact.Locations}}{{.RealPath}} {{end}}
{{end}}

{{- define "matches"}}
  {{range .Matches}}
    {{inline "line" .}}
  {{end}}
{{end}}

{{- define "table"}}
Name, Version, Fixed-in, Type, Vulnerability, Severity,Location
{{uniqueLines "matches" .}}
{{end}}

{{- csvToTable "table" .}}