{{ .PrimaryVulnerability.ID }} ({{ .PrimaryVulnerability.Severity }})
{{ .PrimaryVulnerability.Description }}
{{ if .RelatedVulnerabilities }}Related vulnerabilities:
{{ range .RelatedVulnerabilities }}
    - {{.Namespace}} {{ .ID }} {{ .Severity }}{{end}}{{end}}
URLs:  {{ range .URLs }}
        - {{ . }}{{ end }}
Matched packages: {{ range .MatchedPackages }}
    Package: {{ .Name }}, version: {{ .Version }}
    PURL: {{ .PURL }}
    Evidenced by: {{ range .Locations }}:
        - {{ .ViaNamespace }}:{{ .ViaVulnID }} found {{ .ArtifactId }} at {{ .Location }}{{ if .Explanation }}
          {{ .Explanation }}{{ end }}{{ end }}{{ end }}