{{ .VulnerabilityID }} ({{ .Severity }}) for namespace "{{ .Namespace }}":
{{ .Description }}{{ if .VersionConstraint }}
Version Constraint: {{ .VersionConstraint }}{{ end }}
    matched packages: {{ range .MatchedPackages }}
        package: {{ .Name }}, version: {{ .Version }}
        PURL: {{ .PURL }} 
        {{if .Explanation }}{{ .Explanation }}{{end}}
        Evidenced by: {{ range .Locations }}
            - (artifact ID: {{.ArtifactId}}): {{ .Location }}{{ end }}{{ end }}
    URLs:  {{ range .URLs }}
        - {{ . }}{{ end }}
