{{ .VulnerabilityID }} ({{ .Severity }}) for namespace "{{ .Namespace }}":
{{ .Description }}
    matched artifacts: {{ range .MatchedPackages }}
        package: {{ .Package.Name }}, aritfact ID: {{ .Package.ID }}, version: {{ .Package.Version }}
            PURL: {{ .Package.PURL }}{{if .Explanation }}
            {{ .Explanation }}{{end}}
            Locations: {{ range .Package.Locations }}
                - {{ .RealPath }}{{ end }}{{ end }}
    URLs:  {{ range .URLs }}
        - {{ . }}{{ end }}
