{{ .PrimaryVulnerability.ID }} from {{ .PrimaryVulnerability.Namespace }} ({{ .PrimaryVulnerability.Severity }})
{{ trim .PrimaryVulnerability.Description }}{{ if .RelatedVulnerabilities }}
Related vulnerabilities:{{ range .RelatedVulnerabilities }}
    - {{.Namespace}} {{ .ID }} {{ .Severity }}{{end}}{{end}}
URLs:  {{ range .URLs }}
    - {{ . }}{{ end }}
Matched packages: {{ range .MatchedPackages }}
    Package: {{ .Name }}, version: {{ .Version }}
    PURL: {{ .PURL }}{{ if .CPEExplanation }}
    {{ .CPEExplanation }}{{ end }}{{ if .IndirectExplanation }}
    {{ .IndirectExplanation }}{{ end }}
    Evidenced by: {{ range .Locations }}:
        - {{ .ViaNamespace }}:{{ .ViaVulnID }} evidence at {{ .Location }} (artifact ID: {{.ArtifactId}}){{ end }}{{ end }}
