{{ .PrimaryVulnerability.ID }} from {{ .PrimaryVulnerability.Namespace }} ({{ .PrimaryVulnerability.Severity }})
{{ trim .PrimaryVulnerability.Description }}{{ if .RelatedVulnerabilities }}
Related vulnerabilities:{{ range .RelatedVulnerabilities }}
    - {{.Namespace}} {{ .ID }} ({{ .Severity }}){{end}}{{end}}
Matched packages:{{ range .MatchedPackages }}
    - Package: {{ .Name }}, version: {{ .Version }}{{ if .PURL }}
      PURL: {{ .PURL }}{{ end }}
      Match explanation(s):{{ if .DirectExplanation }}
          - {{ .DirectExplanation }}{{ end }}{{ if .CPEExplanation }}
          - {{ .CPEExplanation }}{{ end }}{{ if .IndirectExplanation }}
          - {{ .IndirectExplanation }}{{ end }}
      Locations:{{ range .Locations }}
          - {{ .Location }}{{ end }}{{ end }}
URLs:{{ range .URLs }}
    - {{ . }}{{ end }}
