{{ .VulnerabilityID }} ({{ .Severity }}) for namespace "{{ .Namespace }}":
{{ .Description }}

URLs:  {{ range .URLs }}
        - {{ . }}{{ end }}{{ if .VersionConstraint }}
Versions affected: {{ .VersionConstraint }}{{ end }}
    Matched packages: {{ range .MatchedPackages }}
        Package: {{ .Name }}, version: {{ .Version }}
        PURL: {{ .PURL }}{{if .Explanation }}
        {{ .Explanation }}{{end}}
        Evidenced by: {{ range .Locations }}
            - (artifact ID: {{.ArtifactId}}): {{ .Location }}{{ if .ViaVulnID }}(via {{ .ViaVulnID }}){{ end }}{{ end }}{{ end }}
