name: 'Release'
on:
  push:
    # take no actions on push to any branch...
    branches-ignore:
      - '**'
    # ... only act on release tags
    tags:
      - 'v*'

env:
  GO_VERSION: "1.16.x"

jobs:
  wait-for-checks:
    runs-on: ubuntu-latest # This OS choice is arbitrary. None of the steps in this job are specific to either Linux or macOS.
    steps:

      - uses: actions/checkout@v2

      # we don't want to release commits that have been pushed and tagged, but not necessarily merged onto main
      - name: Ensure tagged commit is on main
        run: |
          echo "Tag: ${GITHUB_REF##*/}"
          git fetch origin main
          git merge-base --is-ancestor ${GITHUB_REF##*/} origin/main && echo "${GITHUB_REF##*/} is a commit on main!"

      - name: Check static analysis results
        uses: fountainhead/action-wait-for-check@v1.0.0
        id: static-analysis
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # This check name is defined as the circle-ci workflow name (in .github/workflows/static-unit-integration.yaml)
          checkName: "Static-Analysis (1.16.x, ubuntu-latest)"
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Check unit + integration results (latest go version)
        uses: fountainhead/action-wait-for-check@v1.0.0
        id: unit-integration
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # This check name is defined as the circle-ci workflow name (in .github/workflows/static-unit-integration.yaml)
          checkName: "Tests (1.16.x, ubuntu-latest)"
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Build snapshot artifacts
        uses: fountainhead/action-wait-for-check@v1.0.0
        id: snapshot
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # This check name is defined as the github actions job name (in .github/workflows/acceptance-test.yaml)
          checkName: "Build-Snapshot-Artifacts"
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Check inline comparison test results
        uses: fountainhead/action-wait-for-check@v1.0.0
        id: inline-compare
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # This check name is defined as the github action job name (in .github/workflows/acceptance-test.yaml)
          checkName: "Inline-Compare"
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Quality gate
        if: steps.static-analysis.outputs.conclusion != 'success' || steps.unit-integration.outputs.conclusion != 'success'  || steps.inline-compare.outputs.conclusion != 'success' || steps.snapshot.outputs.conclusion != 'success'
        run: |
          echo "Static Analysis Status: ${{ steps.static-analysis.conclusion }}"
          echo "Unit & Integration Test Status: ${{ steps.unit-integration.outputs.conclusion }}"
          echo "Build Snapshot Artifacts Status: ${{ steps.snapshot.outputs.conclusion }}"
          echo "Inline Compare Status: ${{ steps.inline-compare.outputs.conclusion }}"
          false

  release:
    needs: [ wait-for-checks ]
    runs-on: macos-latest # Due to our code signing process, it's vital that we run our release steps on macOS.
    steps:
      - uses: docker-practice/actions-setup-docker@v1

      # note, it is important to always be auth'd into docker.io to prevent rate limiting issues
      - name: Login to Docker Hub
        run: echo ${{ secrets.TOOLBOX_DOCKER_PASS }} | docker login docker.io -u ${{ secrets.TOOLBOX_DOCKER_USER }} --password-stdin

      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # We are expecting this cache to have been created during the "Build-Snapshot-Artifacts" job in the "Acceptance" workflow.
      - name: Restore bootstrap cache
        id: bootstrap-cache
        uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ${{ github.workspace }}/.tmp
          key: ${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('Makefile') }}-${{ hashFiles('**/go.sum') }}

      - name: Bootstrap project dependencies
        if: steps.bootstrap-cache.outputs.cache-hit != 'true'
        run: make bootstrap

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v2
        env:
          GPG_PRIVATE_KEY: ${{ secrets.SIGNING_GPG_PRIVATE_KEY }}
          PASSPHRASE: ${{ secrets.SIGNING_GPG_PASSPHRASE }}

      - name: GPG signing info
        run: |
          echo "fingerprint: ${{ steps.import_gpg.outputs.fingerprint }}"
          echo "keyid:       ${{ steps.import_gpg.outputs.keyid }}"
          echo "name:        ${{ steps.import_gpg.outputs.name }}"
          echo "email:       ${{ steps.import_gpg.outputs.email }}"

      - name: Build release artifacts
        run: make release
        env:
          DOCKER_USERNAME: ${{ secrets.TOOLBOX_DOCKER_USER }}
          DOCKER_PASSWORD: ${{ secrets.TOOLBOX_DOCKER_PASS }}
          GITHUB_TOKEN: ${{ secrets.ANCHORE_GIT_READ_TOKEN }}
          GPG_PRIVATE_KEY: ${{ secrets.SIGNING_GPG_PRIVATE_KEY }}
          PASSPHRASE: ${{ secrets.SIGNING_GPG_PASSPHRASE }}
          SIGNING_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
          AWS_ACCESS_KEY_ID: ${{ secrets.TOOLBOX_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.TOOLBOX_AWS_SECRET_ACCESS_KEY }}
          APPLE_DEVELOPER_ID_CERT: ${{ secrets.APPLE_DEVELOPER_ID_CERT }} # Used during macOS code signing.
          APPLE_DEVELOPER_ID_CERT_PASS: ${{ secrets.APPLE_DEVELOPER_ID_CERT_PASS }} # Used during macOS code signing.
          AC_USERNAME: ${{ secrets.ENG_CI_APPLE_ID }} # Used during macOS notarization.
          AC_PASSWORD: ${{ secrets.ENG_CI_APPLE_ID_PASS }} # Used during macOS notarization.

      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,workflow,action,eventName
          text: "A new Grype release is ready to be manually published: https://github.com/anchore/grype/releases"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_TOOLBOX_WEBHOOK_URL }}
        if: ${{ success() }}
        
      - name: Generate SBOM
        uses: CycloneDX/gh-gomod-generate-sbom@v0.2.0
        with:
          json: true
          output: dist/bom.json
        version: latest
        
      - uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: dist/**/*
